# Python cache & artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.egg-info/
*.egg
build/
dist/

# Virtual environments
venv/
.env/
.venv/

# Docker stuff
*.log
docker-compose.override.yml

# Secrets & env files
.env
.env.*     # any .env.local, .env.prod, etc.

# OS / editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# pytest / coverage / reports
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/